<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DSWeiBo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFD64F0C1DD02EB500D0EDA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFD64F201DD02EB500D0EDA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFD64F2B1DD02EB600D0EDA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
